.idea
/node_modules/
Pipfile
materials/blog/2025_04_22_why/overlayed.svg
told
todo.md

docker-compose.yml
Dockerfile
package-lock.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
