#calendar {
    position: absolute;
    left: 30px;
    top: 30px;
}

#calendar > #calendar-grid {
    position: absolute;
    width: 400px; /* todo */

    font-size: 0.8rem;
}

#calendar > #calendar-grid {
    display: grid;

    --resolution: 4; /* must also change n-th child below */
    --num-days: 3;
    --num-rows: calc(24*var(--resolution));

    /*grid-template-rows: repeat(24, 1fr);*/
    grid-auto-flow: column;
    grid-template-rows: repeat(var(--num-rows), 1fr);
    grid-template-columns: 3rem repeat(var(--num-days), 1fr);

    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;
}

/* grid lines - IMPORTANT change here when resolution changes */
#calendar > #calendar-grid {
    /* line to the left of each day */
    > .calendar-grid-cell {
        border-left: 1px dashed lightgrey;
    }

    /* line on top of each hour */
    > .calendar-grid-hour,
    > .calendar-grid-cell:nth-child(4n+1) /* first number in () is resolution */{
        border-top: 1px dashed lightgrey;
    }

    /* line on top of fine-grained cells, only activated during drag&drop */
    > .calendar-grid-cell /* first number in () is resolution */{
        border-top: 1px dashed white;
    }

    /* except for the first hour */
    > .calendar-grid-hour:first-child,
    > .calendar-grid-cell:nth-child(0) { /* todo does not work */
        border-top: 0;
    }
}

#calendar > #calendar-grid > .calendar-grid-hour{
    min-height: 1.2rem;

    color: darkgrey;
    text-align: center; /* horizontally center hour label */
    align-content: center; /* vertically center hour label */
}

#calendar > #calendar-grid > .calendar-connection {
    display: grid;

    grid-template-areas:
    "icon number"
    "start-time start-station"
    "end-time end-station";

    .connection-icon {
        grid-area: icon;
    }

    .connection-number {
        grid-area: number;
    }

    .connection-start-time {
        grid-area: start-time;
    }

    .connection-start-station {
        grid-area: start-station;
    }

    .connection-end-time {
        grid-area: end-time;
    }

    .connection-end-station {
        grid-area: end-station;
    }

    background-color: rgba(255, 0, 0, 0.4);
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 5px;
    margin: 0 5px 0 5px;

    &:hover {
        cursor: move;
    }

    .connection-icon {
        height: 1rem;
    }
}
