calendar-grid {
    display: grid;

    --resolution: 4; /* must also change n-th child below */
    --num-days: 3;
    --num-rows: calc(24*var(--resolution) + 8);

    grid-auto-flow: column;
    grid-template-rows: repeat(var(--num-rows), 0.4rem); /* todo instead set total height?*/
    grid-template-columns: 3rem repeat(var(--num-days), 1fr);

    border: 1px solid var(--color-background);
    border-radius: 5px;
    background-color: white;
    color: #2e210d;
}



/* line to the left of each day */
calendar-grid > .calendar-grid-cell
{
    border-left: 1px dashed lightgrey;
}

.border-top {
  border-top: 1px dashed lightgrey;
}

calendar-grid > .calendar-grid-hour{
    color: var(--color-dark);
    text-align: center; /* horizontally center hour label */
    align-content: center; /* vertically center hour label */
}

calendar-grid > .calendar-grid-date{
    border-left: 1px dashed lightgrey;
    color: var(--color-dark);
    text-align: center; /* horizontally center date label */
    align-content: center; /* vertically center date label */
}

calendar-entry {
    --color: 0, 0, 0; /* will be set by Javascript */

    border-radius: 5px;
    overflow: hidden;
}

/* calendar entry is fully visible */
calendar-entry.full {
    border: 1px solid darkgrey;
    background-color: rgba(var(--color), 0.6);
}

/* calendar entry is fully visible and being hovered*/
calendar-entry.full:hover {
    background-color: rgba(var(--color), 0.8);
}
calendar-entry.hover {
    background-color:  rgba(var(--color), 0.8);
}

/* calendar entry is fully hidden */
calendar-entry.hidden {
    visibility: hidden;
}

/* faint highlight to show that dropping is possible here */
calendar-entry.indicator {
    border-top: 1px dashed rgba(var(--color));
    border-radius: 0;
}
calendar-entry.indicator > * { /* children should not be visible */
    visibility: hidden
}

/* drag&drop mode and user is hovering over this drop zone */
calendar-entry.preview {
    background-color:  rgba(var(--color), 0.8);
    border-radius: 10px;
}
calendar-entry.preview > * { /* children should not be visible */
    visibility: hidden
}


/* calender entry is made of multiple rows */
calendar-entry > .calendar-connection {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    height: 100%
}

/* each row has a bunch of info */
calendar-entry > .calendar-connection > div {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;

    padding: 0 5px 5px 5px;
}

/* the first row is the header */
calendar-entry > .calendar-connection > div:first-child {
    padding-top: 5px;

    background-color: rgba(var(--color), 0.8);
    color: white;

    /* should be on icon only but can't because pointer-events:none*/
    cursor: move;
}

/* the move icon is the last child and should be at right hand of card */
calendar-entry > .calendar-connection > div:first-child > img:last-child {
    flex-grow: 1;
    /* to disallow drag events firing on img rather than calendar entry */
    pointer-events: none;
}

/* the second row is the start station/time, it should take up all the space */
calendar-entry > .calendar-connection > div:nth-child(2){
    flex-grow: 1;
}

calendar-entry img {
    height: 1rem;
    filter: var(--filter-white);
}

.connection-start-station,
.connection-end-station {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
