#calendar {
    position: absolute;
    left: 30px;
    top: 30px;
}

#calendar > #hourly-grid, #calendar > #connection-grid {
    position: absolute;
    width: 300px;

    /*max-height: 500px;*/
}

/********************************************************
* hourly grid as background
*********************************************************/

#calendar > #hourly-grid {
    display: grid;
    /*grid-template-rows: repeat(24, 1fr);*/
    grid-template-rows: repeat(24, 1.5rem);

    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;
}

/* grid lines */
#calendar > #hourly-grid > div {
    border-top: 1px dashed lightgrey;
}
/*#calendar > #hourly-grid > div:last-child {
    border-bottom: 1px dashed lightgrey;
}*/
#calendar > #hourly-grid > div:first-child {
    border-top: 0;
}

#calendar > #hourly-grid > div {
    font-size: 0.8rem;
    color: darkgrey;
}

/********************************************************
* fine-grained grid to display train connections
*********************************************************/

#calendar > #connection-grid {
    display: grid;
    grid-template-rows: repeat(48, 0.75rem);
    grid-template-columns: 1fr;
}

#calendar > #connection-grid > div {
    margin-left: 3rem;
    color: lightgrey;
    background-color: darkgreen;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}
