travel-calendar {
    background-color: white;

    border-radius: 10px;
    border: 1px solid lightgrey;

    --calendar-lines: 1px dashed lightgrey;
}

travel-option {
    /*  --color: 27,158,119; */
    /*background-color: lavender;*/
    background-color: lavender;
}
