/***********************************************
 the card/menu with title, used in map and calendar
************************************************/

.card {
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  border: 1px solid;
}

.card > .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 6px 2px 6px;
}

.card > .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2px 2px 2px;
}

.card img {
  height: 0.8rem;
}

.card label {
  /* whole width should be clickable */
  width: 100%;
  /* should also look clickable*/
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

/* checkboxes should not be visible */
.card input {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
}

/* instead, the 👁 symbol works as visual indicator */
.card input + label:before {
  content: "👁";
  color: darkgray; /* light when unchecked */
}
.card input:checked + label:before {
  color: var(--color-dark); /* dark when checked */
}
