body {
  /* colors for connections */
  --color1: 27, 158, 119;
  --color2: 217, 95, 2;
  --color3: 117, 112, 179;
  --color4: 231, 41, 138;
  --color5: 102, 166, 30;

  --color-background: #81a0be;
  --color-light: #f9f3ea;

  --color-dark: #286099;

  /* https://codepen.io/sosuke/pen/Pjoqqp */
  --filter-white: invert(100%);
  /* #f9f3ea */
  --filter-beige: invert(95%) sepia(9%) saturate(656%) hue-rotate(315deg)
    brightness(105%) contrast(95%);
  --filter-darkgrey: invert(73%) sepia(0%) saturate(0%) hue-rotate(158deg)
    brightness(94%) contrast(89%);
  /* #286099 */
  --filter-dark: invert(32%) sepia(12%) saturate(3883%) hue-rotate(173deg)
    brightness(95%) contrast(86%);
}
