body {
    --color1: 27,158,119;
    --color2: 217,95,2;
    --color3: 117,112,179;
    --color4: 231,41,138;
    --color5: 102,166,30;
}

.marker {
  /*background-image: url('http://localhost:8000/images/train.svg');*/
  background-image: url("/images/embassy.svg");
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: default;
}