#logo {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

#logo img {
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: var(--filter-beige);
    height: 100%;
}
