#journey-selection {
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-content: space-around;
}

#journey-selection .journey-info {
    --color: 0, 0, 0; /* will be set by Javascript */
    background-color: rgba(var(--color), 0.1);
    border: 1px solid lightgrey;
    border-radius: 10px;
    min-height: 2rem;
    display: inline-block;
}

#journey-selection .checked {
    background-color: rgba(var(--color), 0.8);
}

#journey-selection .journey-info label {

}