body {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

html, body {
    height: 100%;
}

#map {
    height: calc(100% - 4rem);
}


calendar-grid {
    position: absolute;
    left: 1rem;
    top: 6rem;

    width: 400px; /* todo */

    font-size: 0.8rem;
}


#journey-selection {
    position: absolute;
    right: 1rem;
    top: 6rem;

    width: 400px; /* todo */

    font-size: 0.8rem;
}


