body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  --sidebar-width: 0px; /* todo relative to viewport */
}

#sidebar {
  height: 100%;
  width: var(--sidebar-width);
}

#map {
  height: 100%;
  width: calc(100% - var(--sidebar-width));
}

#modal {
  z-index: 1;

  /* center horizontally and vertically */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  min-height: 50%;
  min-width: 50%;
}

/*******************************************************
 the card/menu with title, used in map, calendar, modal
*******************************************************/

.card {
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  overflow: hidden; /* this is necessary to really get the round corners */
}

.card > * {
  display: flex;
  flex-direction: row;
  align-items: center;

  /*margin: 0;*/
  padding: 5px;
}
