body {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

html,
body {
    height: 100%;
}

#map {
    z-index: 1;

    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
}

#sidebar {
    z-index: 3;

    position: absolute;
    left: 0;
    top: 0;

    width: 35rem;
    height: 100%;
}

#modal {
    z-index: 4;

    /* center horizontally and vertically */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    min-height: 50%;
    min-width: 50%;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

.hidden {
    visibility: hidden;
}

/*******************************************************
 the card/menu with title, used in map, calendar
*******************************************************/

menu {
    --padding: 5px;

    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;

    border-radius: var(--padding);
    overflow: hidden; /* this is necessary to really get the round corners */
}

menu > li {
    display: flex;
    flex-direction: row;
    align-items: start;

    margin: 0;
    padding: 0;
}

menu > li > *:only-child {
    width: 100%;
    /*
    want the padding on child element because it is the child element
    that is being styled with background colour, because then it is easier
    to apply hover effects etc
    */
    padding: var(--padding);
    margin: 0;
}

menu > li > *:only-child.hidden {
    display: none;
}

menu button {
    display: flex;
    flex-direction: row;
    align-items: center; /* center vertically */

    text-align: left;
    cursor: pointer;
}

menu img {
    height: 1rem;
    padding-right: 0.3rem;
}
