.maplibregl-popup-content {
  padding: 0;
}

.maplibregl-popup-tip {
  visibility: hidden;
}

/***********************************************
 home/destination etc city markers
************************************************/

.city-marker {
  background-size: contain;
  cursor: pointer;
}

.city-marker-empty {
  background-image: url("../images/marker_empty.svg");
}

.city-marker-home {
  background-image: url("../images/marker_home.svg");
}

.city-marker-destination {
  background-image: url("../images/marker_flag.svg");
}

.city-marker-small {
  height: 1.5rem;
  width: calc(1.5rem * 0.64);
}

.city-marker-large {
  height: 2.5rem;
  width: calc(2.5rem * 0.64);
}

.city-marker-light {
  filter: var(--filter-light-blue);
}

.city-marker-dark {
  filter: var(--filter-dark-blue2);
}

.city-marker-light:hover {
  filter: var(--filter-dark-blue2);
}

.city-marker-dark:hover {
  filter: var(--filter-dark-blue2-hover);
}

/***********************************************
  city context menu
************************************************/

.city-menu {
  border-color: var(--color-background);
}

.city-menu .title {
  background-color: var(--color-dark);
  color: white;
}

.city-menu label {
  /* whole width should be clickable */
  width: 100%;
  /* should also look clickable*/
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;

  color: var(--color-dark);
}

/* checkboxes should not be visible */
.city-menu input {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
}

/* instead, the 👁 symbol works as visual indicator */
.city-menu input + label:before {
  content: "👁";
  color: darkgray; /* light when unchecked */
}
.city-menu input:checked + label:before {
  color: var(--color-dark); /* dark when checked */
}

/* when hovering the background color changes */
.city-menu .row:hover {
  background-color: var(--color-background);
}
