/***********************************************
 layout
************************************************/

#modal {
  --logo-height: 6rem;
  --padding: 0.5rem;

  border-radius: 1rem;
  justify-content: space-between;

  visibility: hidden;
}

#modal > .title,
.bottom {
  height: calc(var(--logo-height) + 2 * var(--padding));
}

#modal h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

#modal > * {
  justify-content: center;

  padding: var(--padding);
  gap: var(--padding);
}

#modal > .logo {
  position: absolute;
  top: var(--padding);
  left: var(--padding);
  height: var(--logo-height);
}

#modal > .title {
  display: flex;
  flex-direction: column;
}

#modal #choose-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(2 * var(--padding));
}

/***********************************************
 style
************************************************/

#modal {
  --color-modal-background: white;
  --color-modal-text: var(--color-dark);

  background-color: var(--color-modal-background);
  color: var(--color-modal-text);

  border: 1px solid var(--color-modal-text);
}

#modal > .title,
.bottom {
  color: var(--color-modal-background);
  background-color: var(--color-modal-text);
}

#modal img {
  /* #286099 */
  filter: invert(33%) sepia(54%) saturate(687%) hue-rotate(168deg)
    brightness(91%) contrast(91%);
}

#modal .logo {
  filter: var(--filter-white);
}

#modal a {
  border: 1px solid var(--color-modal-text);
  border-radius: 0.25rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  padding: 0.5rem;

  cursor: pointer;
  text-decoration: none;

  background: white;
  color: var(--color-modal-text);
}

#modal a:hover {
  background: var(--color-modal-text);
  color: white;
}
