#sidebar {
    --color-sidebar-light: white;
    --filter-sidebar-light: var(--filter-white);

    --color-sidebar-dark: var(--color-dark);
    --filter-sidebar-dark: var(--filter-dark);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    background-color: var(--color-sidebar-light);
    color: var(--color-sidebar-dark);

    opacity: 90%;
}

#sidebar > * {
    width: calc(100% - 2*2rem);
    padding-left: 2rem;
    padding-right: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#sidebar .header {
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: row;
    align-self: start;
    align-items: center;
    gap: 1rem;

    background-color: var(--color-sidebar-dark);
    color: var(--color-sidebar-light);
}

#sidebar .header .claim {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#sidebar .logo {
    height: 6rem;
    filter: var(--filter-white);
}

#date-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#date-picker a {
    font-size: 1.2rem;
    cursor: pointer;

    text-shadow: 2px 2px 3px grey;
}

#date-picker input {
    width: 10rem;
    padding: 1rem;

    border: 1px solid var(--color-sidebar-dark);
    border-radius: 5px;

    color: var(--color-sidebar-dark);
    font-size: 1rem;
    font-family: helvetica, arial, sans-serif;
}


#calender-container {
    visibility: hidden; /* on first load */

    width: 95%;

    padding: 0.5rem 0 0.5rem 0;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    color: var(--color-dark);
    background-color: white;
}

#calender-container .title {
    font-size: 1.2rem;
    text-align: center;
}

#calender-container .explanation {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
    margin-top: -0.5rem;
}

calendar-grid {
    width: 95%;
}