body {
    margin: 0;
    padding: 0;
}

html, body, #map {
    height: 100%;
}

#calender {
    z-index: 2;
    position: fixed;
    left: 20px;
    top: 20px;
    width: 300px;
    height: 300px;
    border: 3px solid #73AD21;
    background: white;
}

#calender {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);  /* 3 days */

    gap: 1px;
    background-color: lightgrey; /* this will be the color of the grid lines */
}

#calender > div {
    background-color: white; /* because background of grid is grey for grid lines */
}