/***********************************************
 Mobile layout (default)
************************************************/

main {
    --logo-size: 3rem;
    --logo-size-with-padding: 4rem;

    /* calendar needs absolute height todo */
    --calendar-height: calc(100vh - var(--logo-size-with-padding) - 10rem);

    display: grid;
    grid-template-columns:
        var(--logo-size-with-padding)
        1fr; /* nav */
    grid-template-rows:
        var(--logo-size-with-padding)
        1fr; /* main content */

    grid-template-areas:
        "logo        nav"
        "journey     journey";
}

main .logo {
    grid-area: logo;
}

main #nav-mobile {
    grid-area: nav;
}

main #config {
    grid-area: journey;
}

main #journey {
    grid-area: journey;
}

/***********************************************
 Mobile nav bar
************************************************/

main #nav-mobile {
    display: grid;
    /* last column is smaller because only showing icon */
    grid-template-columns: repeat(3, minmax(0, 1fr)) 3rem;
}

/* tabs */
main #nav-mobile > * {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main #nav-mobile img {
    height: 2rem;
}

/* mobile nav bar is only visible on mobile devices */
@media only screen and (min-width: 1000px) {
    main #nav-mobile {
        display: none;
    }
}

/**********************************************************
 Desktop layout -> more things are visible at the same time
***********************************************************/

@media only screen and (min-width: 1000px) {
    main {
        --logo-size: 7rem;
        --logo-size-with-padding: 9rem;
        --config-width: 20rem;
        --navbar-height: 2.5rem;
        --navbar-padding-top: 2rem;

        --calendar-height: 700px;

        width: calc(var(--logo-size-with-padding) + var(--config-width));

        display: grid;
        grid-template-columns:
          var(--logo-size-with-padding)
          var(--config-width);
        grid-template-rows:
          var(--logo-size-with-padding)
          calc(var(--navbar-height) + var(--navbar-padding-top))
          1fr;

        grid-template-areas:
          "logo             config  "
          "nav              nav     "
          "journey          journey ";
    }

    main .logo {
        grid-area: logo;
    }

    main #config {
        grid-area: config;
    }

    main #nav-desktop {
        grid-area: nav;
    }

    main #journey {
        grid-area: journey;
    }
}

/***********************************************
 Desktop nav bar
************************************************/

main #nav-desktop {
    padding-top: var(--navbar-padding-top);

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
}

/* tabs */
main #nav-desktop > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* desktop nav bar is only visible on desktop devices */
@media only screen and (max-width: 1000px) {
    main #nav-desktop {
        display: none;
    }
}


/***********************************************
 Selecting which content to show
************************************************/

/* both in desktop and in mobile we can choose between showing calendar and summary */
main #calendar:not(.selected),
main #summary:not(.selected) {
    display: none;
}

/* on desktop config and journey are always visible, on mobile they might be hidden in a different tab */
@media only screen and (max-width: 1000px) {
    main #config:not(.selected),
    main #journey:not(.selected) {
        display: none;
    }
}

/* no user journey yet -> a bunch of elements are not visible */
main.no-journey #config,
main.no-journey #journey,
main.no-journey #nav-desktop {
    display: none;
}

@media only screen and (min-width: 1000px) {
    /* no user journey -> on desktop logo should have a nice radius */
    main.no-journey .logo {
        border-bottom-right-radius: 10px;
    }
}

/***********************************************
 Layout logo
************************************************/

main .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .logo img {
    height: var(--logo-size);
}

/***********************************************
Layout for config
************************************************/

main #config {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    align-items: center;
    justify-content: flex-start;
}

@media only screen and (min-width: 1000px) {
    main #config {
        justify-content: center;
    }
}

main #config input {
    width: 9rem;
    padding: 0.5rem;

    margin-left: 1rem;
    margin-right: 1rem;
}

/*********************************************************
Layout journey container (containing calendar and summary)
*********************************************************/

main #journey {
    width: calc(100% - 1);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

/* on desktop there should be a scrollbar if necessary */
@media only screen and (min-width: 1000px) {
    main #journey {
        overflow-y: auto;
    }
}

/***********************************************
Layout for calendar
************************************************/

main #calendar {
    width: min(95%, 450px);
}

main travel-calendar {
    height: var(--calendar-height);
}

/***********************************************
Layout for journey summary
************************************************/

#summary {
    min-width: min(350px, 90%);
    max-width: 650px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#summary #perlschnur {
    padding: 0.5rem;
    width: 100%;
}

/*******************************************************
 the card/menu with title, used in map, perlschnur
*******************************************************/

.card {
    --padding: 5px;

    list-style-type: none;

    border-radius: var(--padding);
    overflow: hidden; /* this is necessary to really get the round corners */
}

.card h3,
.card li {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.card menu,
.card ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.card h3,
.card li > *:first-child {
    padding-left: var(--padding);
}

.card li.hidden {
    display: none;
}

.card button {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 0.5rem;

    text-align: left;
    cursor: pointer;

    border: 0;
}

.card img {
    height: 1rem;
    padding: 0;
    margin: 0;
}


