main {
    width: 100%;
    /* map-content has height 0 i.e. user can interact with the map below todo for #map only?*/
    height: fit-content;

    --nav-height: 4rem;
    --content-height: calc(var(--main-height) - var(--nav-height));
}

@media only screen and (min-width: 1000px) {
    main {
        /* to make sidebar appear floating in the air */
        margin: 2rem 0 2rem 1rem; /* top, right, bottom, left */

        /* to make a little border around the sidebar */
        padding: 0.5rem;

        width: 30rem;
        height: calc(100% - 4rem); /* - 2*margin top/bottom */

        --nav-height: 4rem;
        /* must be -2*margin - 2*padding */
        --content-height: calc(var(--main-height) - var(--nav-height) - 4rem - 1rem);

        background-color: var(--color-dark);
        opacity: 0.92;
        border-radius: 1rem;
    }

    #content > * {
        border-radius: 0.5rem;
    }

    #content > *:first-child {
        border-top-left-radius: 0;
    }

    #content > *:last-child {
        border-top-right-radius: 0;
    }
}

/**********************************************************
 Set up the main grid
***********************************************************/

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
        var(--nav-height)
        var(--content-height);
    grid-template-areas:
        "nav"
        "content";
}

nav {
    grid-area: nav;
}

#content {
    grid-area: content;
}

.logo {
    grid-area: logo;
}

/***********************************************
 Navigation bar
************************************************/

nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
}

/* tabs */
nav > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* inverted style for the tab that user has selected (=last clicked on) */
nav > *.selected {
    color: var(--color-dark);
    background-color: var(--color-light);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

nav > *:first-child.selected {
    margin-left: 0;
}

nav > *:last-child.selected {
    margin-right: 0;
}

/***********************************************
 Only the content for selected tab should be shown
************************************************/

#config:not(.selected),
#calendar:not(.selected),
#perlschnur:not(.selected) {
    display: none;
}


/***********************************************
 Placing and styling the logo
************************************************/

#planner .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#planner .logo img {
    height: var(--logo-size);
}


#planner .logo {
    background-color: var(--color-dark);
    color: var(--color-light);
}

#planner .logo img {
    filter: var(--filter-white);
}