main {
    width: 100%;
    /* content has height 0 i.e. user can interact with the map below*/
    height: fit-content;

    --nav-height: 4rem;
    --content-height: calc(var(--main-height) - var(--nav-height));
}

main.closed {
    display: none;
}

@media only screen and (min-width: 1000px) {
    main {
        /* to make sidebar appear floating in the air */
        --margin-top-bottom: 2rem;
        margin: var(--margin-top-bottom) 0 var(--margin-top-bottom) 1rem;

        /* to make a little border around the sidebar */
        --padding: 0.5rem;
        padding: var(--padding);

        width: 30rem;
        height: calc(100% - 2 * var(--margin-top-bottom));

        --nav-height: 4rem;
        --content-height: calc(var(--main-height) - var(--nav-height) - 2 * var(--margin-top-bottom) - 2 * var(--padding));

        background-color: var(--color-dark);
        opacity: 0.92;
        border-radius: 1rem;
    }

    #content > * {
        border-radius: 0.5rem;
    }

    #content > *:first-child {
        border-top-left-radius: 0;
    }

    #content > *:last-child {
        border-top-right-radius: 0;
    }
}

/**********************************************************
 Set up the main grid
***********************************************************/

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
        var(--nav-height)
        1fr; /* don't set to --content-height, because then can see but not interact with map */
    grid-template-areas:
        "nav"
        "content";
}

nav {
    grid-area: nav;
}

#content {
    grid-area: content;
}

.logo {
    grid-area: logo;
}

/***********************************************
 Navigation bar
************************************************/

nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
}

/* tabs */
nav > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* inverted style for the tab that user has selected (=last clicked on) */
nav > *.selected {
    color: var(--color-dark);
    background-color: var(--color-light);
}

nav > *:first-child.selected {
    margin-left: 0;
}

nav > *:last-child.selected {
    margin-right: 0;
}

@media only screen and (min-width: 1000px) {
    nav > * {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}


/***********************************************
 Only the content for selected tab should be shown
************************************************/

#config:not(.selected),
#calendar:not(.selected),
#perlschnur:not(.selected) {
    display: none;
}

/***********************************************
 Mobile logo is part of navigation bar
************************************************/

#mobile-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mobile-logo img {
    height: var(--nav-height);
    padding: 0.5rem;
    filter: var(--filter-white);
}

/************************************************
Opening animation
*************************************************/

main {
    animation: animation-grow 0.2s;
}

@keyframes animation-grow {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}
