.maplibregl-popup-content {
    padding: 0;
}

.maplibregl-popup-tip {
    visibility: hidden;
}

.maplibregl-popup-close-button {
    color: white;
    top: 3px;
    right: 3px;
    border-radius: 5px;
}

.maplibregl-popup-close-button:hover {
    border: 1px solid white;
}

/* on mobile, move +/- zoom so it does not lie under navigation header, todo this is hacky */
@media only screen and (max-width: 1000px) {
    .maplibregl-ctrl-top-right {
        padding-top: 5rem;
    }
}
