.maplibregl-popup-content {
  padding: 0;
}

.maplibregl-popup-tip {
  visibility: hidden;
}

.maplibregl-popup-close-button {
  color: white;
  top: 3px;
  right: 3px;
  border-radius: 5px;
}

.maplibregl-popup-close-button:hover {
  border: 1px solid white;
}

/***********************************************
 home marker
************************************************/

.city-marker-home {
  cursor: pointer;

  background-image: url("../../images/markers/marker_home.svg");
  background-size: contain;
  filter: var(--filter-dark);

  height: 2.5rem;
  width: calc(2.5rem * 0.64);
}

/***********************************************************************
 destination marker (only for animation, will get replaced by map layer
***********************************************************************/

.city-marker-destination {
  cursor: pointer;

  --circle-radius: 9px;
  --circle-offset: -5px;
  --pulse-radius: 17px;
  --pulse-offset: -9px;
}

.city-marker-destination .inner-circle {
  position: absolute;
  left: var(--circle-offset);
  bottom: var(--circle-offset);

  height: var(--circle-radius);
  width: var(--circle-radius);

  border-radius: 50%;
  border: 1px solid #aaa;

  background-color: white;
}

.city-marker-destination .outer-circle {
  position: absolute;
  left: var(--pulse-offset);
  bottom: var(--pulse-offset);

  height: var(--pulse-radius);
  width: var(--pulse-radius);

  border: 1px solid #aaa;
  border-radius: 50%;

  opacity: 0;
  background-color: white;
  animation: pulsate 1s ease-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

/***********************************************
  city and edge context menu
************************************************/

.city-menu,
.edge-menu {
  width: 12rem;

  --color-menu-light: white;
  --filter-menu-light: var(--filter-white);

  --color-menu-dark: var(--color-dark);
  --filter-menu-dark: var(--filter-dark);

  border-color: var(--color-menu-dark);
}

.city-menu .title,
.edge-menu .title {
  letter-spacing: 0.02rem;

  color: var(--color-menu-light);
  background-color: var(--color-menu-dark);
}

.city-menu button,
.edge-menu button {
  border: 0;

  color: var(--color-menu-dark);
  background: var(--color-menu-light);
}

.city-menu button img,
.edge-menu button img {
  filter: var(--filter-menu-dark);
}

.city-menu button:hover,
.edge-menu button:hover {
  color: var(--color-menu-light);
  background-color: var(--color-menu-dark);
}

.city-menu button:hover img,
.edge-menu button:hover img {
  filter: var(--filter-menu-light);
}
