.maplibregl-popup-content {
  padding: 0;
}

.maplibregl-popup-tip {
  visibility: hidden;
}

/***********************************************
 home/destination etc city markers
************************************************/

.city-marker {
  background-size: contain;
  cursor: pointer;
}

.city-marker-empty {
  background-image: url("../../images/marker_empty.svg");
}

.city-marker-home {
  background-image: url("../../images/marker_home.svg");
}

.city-marker-destination {
  --circle-radius: 8px;
  --pulse-radius: 16px;
}

.city-marker-destination .inner-circle {
  position: absolute;
  left: calc(-1 * var(--circle-radius) / 2);
  bottom: calc(-1 * var(--circle-radius) / 2);

  /*background-image: url("../../images/marker_flag.svg");
  background-image: url("../../images/circle.svg");*/
  height: var(--circle-radius);
  width: var(--circle-radius);

  border-radius: 50%;
  border: 1px solid darkgray;

  background-color: white;
}

.city-marker-destination .outer-circle,
.city-marker-destination .outer-circle-animation {
  position: absolute;
  left: calc(-1 * var(--pulse-radius) / 2);
  bottom: calc(-1 * var(--pulse-radius) / 2);

  height: var(--pulse-radius);
  width: var(--pulse-radius);

  border: 1px solid #286099;
  border-radius: 50%;

  opacity: 0;
}

.city-marker-destination .outer-circle-animation {
  animation: pulsate 1s ease-out infinite;
}

.city-marker-destination .outer-circle:hover {
  opacity: 1;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.city-marker-small {
  /*height: 1.5rem;
  width: calc(1.5rem * 0.64);
  width: 1.5rem;*/
}

.city-marker-large {
  height: 2.5rem;
  width: calc(2.5rem * 0.64);
}

.city-marker-dark {
  filter: var(--filter-dark-blue2);
}

.city-marker-dark:hover {
  filter: var(--filter-dark-blue2-hover);
}

/***********************************************
  city context menu
************************************************/

.city-menu {
  border-color: var(--color-background);
}

.city-menu .title {
  background-color: var(--color-dark);
  color: white;
}

.city-menu .menu-entry {
  color: var(--color-dark);
}

/* when hovering the background color changes */
.city-menu .menu-entry:hover {
  background-color: var(--color-background);
}

.city-menu label {
  /* whole width should be clickable */
  width: 100%;
  /* should also look clickable*/
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

/* checkboxes should not be visible */
.city-menu input {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
}

/* instead, the 👁 symbol works as visual indicator */
.city-menu input + label:before {
  content: "👁";
  color: darkgray; /* light when unchecked */
}
.city-menu input:checked + label:before {
  color: var(--color-dark); /* dark when checked */
}

/***********************************************
  edge context menu
************************************************/

.edge-menu {
  border-color: var(--color-background);
}

.edge-menu .title {
  background-color: var(--color-dark);
  color: white;
}
