#footer {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  align-items: center;
  justify-content: flex-end;

  padding-right: 2rem;
}

/***********************************************
  Style
************************************************/

#footer {
  background-color: var(--color-dark);
  color: var(--color-light);
}

#footer a {
  color: var(--color-light);
}

#footer img {
  max-height: 1.3rem;
  filter: var(--filter-white);
}
