#config {
    height: 100%;
    width: 100%;
    padding: 2rem 1rem 1rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    background-color: var(--color-light);
    color: var(--color-dark);
}

#config h2 {
    font-size: 1.3rem;
}

#config form {
    width: 100%;
    padding: 1rem;

    display: grid;
    grid-template-columns: 3rem 1fr; /* label, input */
    grid-auto-rows: 4rem;

    align-items: center;
    gap: 1rem;

    border: 1px solid lightgrey;
    border-radius: 0.5rem;
}

/* from <input> and from <select> share the same space in the grid */
#config form #config-from,
#config form #config-from-values {
    grid-row: 1/2;
    grid-column: 2/3;
}

/* same for to <input> and to <select> */
#config form #config-to,
#config form #config-to-values {
    grid-row: 2/3;
    grid-column: 2/3;
}

/* but actually the two select fields are positioned just below the <input> fields */
#config form #config-from-values,
#config form #config-to-values {
    margin-top: 4rem; /* height of the <input> field */
    transform: translateY(50%); /* otherwise positioning is based on center of list */
    z-index: 2
}

/***********************************************
 Form fields
************************************************/

#config form input {
    height: 3rem;
    padding-left: 0.5rem;

    border: 1px solid darkgrey;
    border-radius: 0.25rem;

    color: var(--color-dark);
}

#config form label {
    color: darkgray;
}

#config form button {
    height: 3rem;
    width: 100%;
    grid-column: 1/3;

    background-color: var(--color-dark);
    color: var(--color-light);
    opacity: 1;

    border: 0;
    border-radius: 0.5rem;
}


/***********************************************
 <select> fields for autocomplete
************************************************/

#config-from-values:empty,
#config-to-values:empty {
    display: none;
}

#config-from-values,
#config-to-values {
    list-style-type: none;
    padding-left: 0;

    background-color: var(--color-light);
    color: var(--color-dark);

    border: 1px solid darkgray;
    border-radius: 0.25rem;
}

#config-from-values li,
#config-to-values li {
    display: flex;
    align-items: center;

    height: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

#config-from-values li img,
#config-to-values li img {
    height: 1rem;
    filter: var(--filter-dark);
}

#config-from-values li:hover,
#config-to-values li:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
    cursor: pointer;
}

#config-from-values li:hover img,
#config-to-values li:hover img {
    height: 1rem;
    filter: var(--filter-white);
}

/***********************************************
 Hover
************************************************/

#config form button:not(:disabled):hover{
    outline: 1px solid var(--color-dark);
    outline-offset: 2px;
    cursor: pointer;
}

/***********************************************
 Disabled
************************************************/

#config form input:disabled {
    color: darkgrey;
}

#config form button:disabled {
    color: darkgrey;
    background-color: var(--color-light);
    border: 1px solid darkgrey;
}

#config form button:not(:disabled) .spinner {
    display: none;
}

/***********************************************
 Spinner
************************************************/

#config form .spinner {
    display: inline-block;
    height: 0.75rem;
    width: 0.75rem;
    border: 2px solid var(--color-dark);
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}