
#perlschnur {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#perlschnur-inner {
    width: 90%;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border: 1px solid lightgrey;
    border-radius: 5px;
}

/***********************************************
 Connection
************************************************/

.perlschnur-connection {
    --color: 0, 0, 0; /* will be set by Javascript */
    background-color: rgba(var(--color), 0.4);
    color: #2e210d;

    animation: fadein 1s;
}

.perlschnur-connection h3 {
    height: 2rem;
    font-size: 1rem;
    justify-content: flex-start;

    color: white;
    background-color: rgba(var(--color), 0.8);
}

.perlschnur-connection h3 img {
    height: 1rem;
    filter: var(--filter-white);
}

.perlschnur-connection h3 .connection-travel-time {
    padding-left: 1rem;
    flex-grow: 1;
    font-size: 0.8rem;
}

.perlschnur-connection .perlschnur-stop-list {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/***********************************************
 Connection hover
************************************************/

.perlschnur-connection {
    outline: 2px solid transparent;
    outline-offset: 3px;
}

.perlschnur-connection.hover {
    outline-color: rgba(var(--color), 0.8);
}

/***********************************************
 Stop
************************************************/

.perlschnur-stop {
    height: 1.5rem;
}

.perlschnur-stop .date {
    font-weight: bold;
}

.perlschnur-stop .date:empty {
    display: none;
}

.perlschnur-stop .circle {
    height: 8px;
    width: 8px;
    display: inline-block;

    border-radius: 50%;
    border: 1px solid rgb(var(--color));
}

/***********************************************
 Stop hover
************************************************/

.perlschnur-stop.hover .circle {
    outline: 2px solid rgb(var(--color));
    outline-offset: 1px;
}

/***********************************************
 Transfer
************************************************/

.perlschnur-transfer {
    padding-left: 2rem;
    color: darkgray;
}


/***********************************************
 Collapse
************************************************/

.perlschnur-stop-list {
    cursor: pointer;
}

.perlschnur-stop-list .perlschnur-collapse {
    padding-left: 2rem;
    font-style: italic;
    display: none;
}

.perlschnur-stop-list[data-collapsed="collapsed"] .perlschnur-collapse {
    display: flex;
}

.perlschnur-stop-list[data-collapsed="collapsed"] .perlschnur-stop {
    display: none;
}

.perlschnur-stop-list[data-collapsed="collapsed"] .perlschnur-stop:first-child,
.perlschnur-stop-list[data-collapsed="collapsed"] .perlschnur-stop:last-child {
    display: flex;
}


/***********************************************
 Animation
************************************************/

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

