:host {
  /* the following can be set in external css to style this custom element */
  --calendar-lines: 1px dashed lightgrey;
  --calendar-text-color: darkgrey;

  width: 100%;
  display: grid;
  font-size: 0.8rem;

  --num-rows: calc(24 * 4); /* todo variable for resolution */

  grid-auto-flow: column;
  grid-template-rows: 8fr repeat(var(--num-rows), 1fr);
  grid-template-columns: 3rem repeat(3, 1fr); /* todo variable for numdays */
}

:host([hidden]) {
  display: none;
}

/* styling the calendar grid */
.hour-label {
  text-align: center; /* horizontally */
  align-content: center; /* vertically*/

  border-top: var(--calendar-lines);
  color: var(--calendar-text-color);
}
.date-label {
  text-align: center; /* horizontally */
  align-content: center; /* vertically*/

  border-left: var(--calendar-lines);
  color: var(--calendar-text-color);
}
.cell {
  height: var(--row-height);
  border-left: var(--calendar-lines);
}
.cell.full-hour {
  border-top: var(--calendar-lines);
}
